/* ==UserStyle==
@name           XKCD
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Umbreon
==/UserStyle== */

@-moz-document domain("xkcd.com") { 
    body {
        background-color: #1e1e2e;
        color: #cdd6f4;
    }
    
    a {
        color: #89b4fa;
    }
    
    #middleContainer {
        background-color: #1e1e2e;
        border-color: #cdd6f4;
    }
    
    #topContainer,
    #bottom {
        display: none;
    }
}