/* This is broken */

:root {
  /* This makes the background transparent (https://reddit.com/s7gk70) */
  background: url('data:image/gif;base64,R0lGODlhAQABAAD8/ywAAAAAAQABAAAIBAABBAQAOwo=') !important;

  /* Remove scrollbar */
  scrollbar-width: none !important;
}

:root::before {
  /* This selector is to make sure the background is not fully transparent */
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100vw;
  height: 100vh;
  overflow:hidden;
  background: #1E1E2Ecc;
  
  z-index: -1000;
}

@-moz-document url-prefix(about:) {
  /* This makes sure that some firefox pages don't have weird blocks */
  :root {
    --in-content-page-background: transparent !important; 
  }
}

@-moz-document url-prefix(about:devtools-toolbox) {
  /* Fix devtools */
  /* Some reason devtools is still semi broken even with these rules and I have no idea why */
  :root::before {
    display: none;
  }
  :root {
    background: black !important;
  }
}

body {
  background: transparent !important;
}